* {
  margin: 0;
}

main {
  text-align: center;
}

header, .middle-content, footer {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.6);
  color: aliceblue;
}

.background-available {
  background-size: cover;
  background-position: center;
}

#mains {
  background-image: url('../backgrounds/mains.jpg');
}

#training {
  background-image: url('../backgrounds/training.jpg');
}

#atleastonce {
  background-image: url('../backgrounds/at_least_once.jpg');
}

#projectsinoperation {
  background-image: url('../backgrounds/projects_in_operation.jpg');
}

#projectsclosed {
  background-image: url('../backgrounds/projects_closed.jpg');
}

#toyprojects {
  background-image: url('../backgrounds/toy_projects.jpg');
}

#otherprojects {
  background-image: url('../backgrounds/other_projects.jpg');
}

h1 {
  font-size: 10vw;
}

h2 {
  font-size: 5vw;
}

.summary {
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.middle-content > article {
  max-width: 1000px;
  justify-content: center;
  align-items: center;
}

.icon {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: none;
  margin: 2px;
  color: black;
}

.icon > img {
  width: 100%;
  height: 100%;
}

.icon-hover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover > .icon-hover-overlay {
  opacity: 0.85;
}

.feature-icon > .icon-hover-overlay {
  background-color: #FFCC77;
}

.project-icon > .icon-hover-overlay {
  background-color: #77CCFF;
}

.project-icon:hover {
  cursor: pointer;
}

footer {
  position: sticky;
  padding: 1rem;
  padding-bottom: calc(1rem + env(safe-area-inset-bottom));
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: seashell;
  width: 70vw;
  min-height: 10vh;
  padding: 30px;
  border-radius: 30px;
  display: block;
}

.modal-content > * {
  margin: 8px;
  margin-bottom: 12px;
}

.stacks > span {
  background-color: lightsalmon;
  padding: 4px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 5px;
}

.modal-hidden {
  display: none;
}