* {
  margin: 0;
}

.icon {
  position: relative;
  display: inline-block;
  width: 150px;
  height: 150px;
  border: none;
}

.icon > img {
  width: 100%;
  height: 100%;
}

.icon-hover-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: ease 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon:hover > .icon-hover-overlay {
  opacity: 0.85;
}

.feature-icon > .icon-hover-overlay {
  background-color: red;
}

.project-icon > .icon-hover-overlay {
  background-color: blue;
}

.project-icon:hover {
  cursor: pointer;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: seashell;
  width: 70vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-hidden {
  display: none;
}